
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>The environmental well-being of Tangier is paramount for a thriving and healthy community. However, effective monitoring and management require innovative tools and active citizen participation. Recognizing this need, we present "Tanger EcoWatch," a comprehensive web platform designed to empower our community to become active stewards of our environment.</p>