@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4">
    <div class="row flex-lg-row align-items-center g-3 py-">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to EchoWatch, @ViewBag.UserEmail</h1>
            <p class="lead">EcoWatch empowers you with data-driven insights to make smarter decisions for a healthier planet.</p>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="alert alert-primary" role="alert">
                    You are logged in! (Click on the email in navbar to access your profile)
                </div>
            }
            else
            {
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Create an account</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
                </div>
            }
        </div>
        <div class="col-12 col-lg-6">
            <img src="img/Logo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>

<div class="container px-4 py-4" id="featured-3">
    <h2 class="pb-2 border-bottom">Our website functionalities</h2>
    <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
            </div>
            <h2>Analytics</h2>
            <p>Access comprehensive analytics to gain insights into various environmental parameters.</p>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
            </div>
            <h2>Communities</h2>
            <p>Connect with like-minded individuals and environmental enthusiasts to collaborate and share ideas.</p>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
            </div>
            <h2>Reporting</h2>
            <p>Generate detailed reports and visualize data to facilitate informed decision-making.</p>
        </div>
    </div>
</div>
